div {
  border: #F77F00 solid 1px;
}


.body {
  height: 80vh;
  
  justify-content: center;
}

.game-container {
  height: 100%;
  background-color: #EAE2B7;
  /* display: flex; */
  padding: 0 20% 0 20%;

}

.hud {
  display: flex;
  height: 20%;
  background-color: #FCBF49;
}

.player {
  
  width: 30%;
}

.party {
width: 70%;
 
}

.game {
  height: 80%;
  background-color: #FCBF49;
}