
<div>
  <div class="body">
    <div class="game-container">
        <party class="hud"></party>
        <div class="game">
          <game-ui></game-ui>
        <!-- <div class="signUp">
            <form #trainerPost="ngForm" (ngSubmit)="onSubmit(trainerPost.value)">
              <input type="text" name="username" ngModel placeholder="username"> <br><br>
              <input type="text" name="password" ngModel placeholder="password"> <br><br>
              <!-- <input type="text" name="confirmPassword" ngModel placeholder="confirm password"> <br><br> -->
             <!-- <button type="submit">Submit Data</button>
            </form>
        </div> --> 
      </div>
    </div>
  </div>
  
 
  <div>
    <!-- <span *ngIf="user"> 
      <p>Heroes API URL is "{{user.name}}"</p>
    </span> -->
  </div>
  
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
