<div class="container">
  <div id="text" *ngIf="traveling">What will you do?</div>
  <div id="option-buttons" class="btn-grid" *ngIf="traveling">
    <button class="btn" (click)="onOptionOne()">{{this.directions.value[0]}}</button>
    <!-- <button class="btn" (click)="onOptionOne()">{{this.directions.value[1]}}</button>
    <button class="btn" (click)="onOptionOne()">{{this.directions.value[2]}}</button> -->
    <button class="btn" (click)="onGameInit()">Option 2</button>
    <button class="btn" (click)="catchPokemon()">Catch a pokemon</button>
    <button class="btn">Option 4</button>
  </div>

  <div class="wildPokemon" *ngIf="!traveling && !gameOver && !newGame">
    <div class="text">A wild {{this.wildPokemonResponse.value.name}} appeared</div>
    <img class="poke-pic" src={{this.pokemonToCatch.value}}>
    <div class="option-buttons" class="btn-grid" *ngIf="!traveling">
      <button class="btn" (click)="throwPokeball()">Throw a Pokeball</button>
      <button class="btn" (click)="reload()" >Go Back</button>
    </div>

  
  </div>

  <div class="newGame" *ngIf="newGame">
    <input type="text" class="" [(ngModel)]="trainerName">What is your name?
    <button class="btn" (click)="onNewGame()">New Game</button>
    
  </div>

  <div class="gameOver" *ngIf="gameOver">
      <div *ngFor="let pic of this.pics">
        <img src={{pic}} class="poke-pic">
      </div>
      <button class="btn" (click)="startOver()">New Game</button>
  </div>
</div>