<div class="container">
  <div id="text" *ngIf="traveling">{{this.directionsResponse.value.zone_description}}</div>
  <div id="option-buttons" class="btn-grid" *ngIf="traveling">
    <button *ngIf="this.directions.value[0] && this.directions.value[0] != 0" class="btn" (click)="onOptionOne()">{{this.directions.value[0]}}</button>
    <button *ngIf="this.directions.value[1]" class="btn" (click)="onOptionTwo()">{{this.directions.value[1]}}</button>
    <button *ngIf="this.directions.value[2]" class="btn" (click)="onOptionThree()">{{this.directions.value[2]}}</button>
    <button class="btn" (click)="catchPokemon()">Catch a pokemon</button>
  </div>

  <div class="wildPokemon" *ngIf="!traveling && !gameOver && !newGame && !inCenter">
    <div class="text" *ngIf="randomCaught == 100">A wild {{this.wildPokemonResponse.value.name}} appeared</div>
    <div class="text" *ngIf="randomCaught > 61 &&  randomCaught < 100">You caught the wild {{this.wildPokemonResponse.value.name}}!</div>
    <div class="text" *ngIf="randomCaught < 61">The wild {{this.wildPokemonResponse.value.name}} broke free!</div>
    <img class="poke-pic" src={{this.pokemonToCatch.value}}>
    <div class="option-buttons" class="btn-grid" *ngIf="!traveling">
      <button class="btn" (click)="throwPokeball()">Throw a Pokeball</button>
      <button class="btn" (click)="reload()" >Go Back</button>
    </div>

  
  </div>

  <div class="newGame" *ngIf="newGame">
    <input type="text" class="" [(ngModel)]="trainerName">What is your name?
    <button class="btn" (click)="onNewGame()">New Game</button>
    
  </div>

  <div class="newGame" *ngIf="inCenter">
    <div id="text">In the Safari Zone you'll encounter hundreds of pokemon, but you only have 20 pokeballs so use them wisely!</div>
    <button class="btn" (click)="enterZone()">Enter the Safari Zone</button>
    
  </div>



  <div class="gameOver" *ngIf="gameOver">
      <div *ngFor="let pic of this.pics">
        <img src={{pic}} class="pcPic" >
      </div>
      <button class="btn" (click)="startOver()">New Game</button>
  </div>
</div>