*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}


.container {
  
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}


.poke-pic {
  width: 80%;
  height: 75%;
  border-radius: 50%;
  background-color: #EAE2B7;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  /* padding: 0 2% 0 2%; */
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pcPic {
  width: 30%;
  height: 75%;
  border-radius: 50%;
  background-color: #EAE2B7;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  /* padding: 0 2% 0 2%; */
}